* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container,
.hero-container {
    background-color: #1F2937;
}

.navbar-container {
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin-top: 15px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

.header-link.first {
    margin-left: auto;
    margin-right: 20px;
}

.header-link.last {
    margin-left: 20px;
}

.hero-container {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    gap: 60px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    width: 500px;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.hero-signup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 8px;
    width: 100px;
    background-color: steelblue;
    border-radius: 8px;
    color: #E5E7EB;
}

.hero-placeholder {
    background-color: gray;
    width: 500px;
    height: auto;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.information-container {
    display: flex;
    justify-content: center;
}

.information-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
}

.information-title {
    align-self:  center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #1F2937;
}

.placeholders-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.box,
.box-text {
    width: 200px;
}

.box {
    height: 180px;
    border: 4px solid steelblue;
    border-radius: 12px;
    margin-bottom: 10px;
}

.quote-container{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-section {
    display: flex;
    flex-direction: column; 
    margin-top: 80px;
    margin-bottom: 80px;
    width: 700px;
}

.quote {
    margin-top: 40px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    width: 880px;
    align-self: center;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.cta-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.cta-box {
    color: #E5E7EB;
    display: flex;
    width: 800px;
    background-color: steelblue ;
    border-radius: 6px;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
}

.cta-signup {
    height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100px;
    border-radius: 10px;
    border: 4px solid #E5E7EB;
    margin-left: auto;
    padding: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
}